.productgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.productback {
    background-color: rgb(255, 255, 255);
    width: 90%;
    border: 10px double #f8edeb;
    box-shadow: 0 0 0 6px #f8edeb;
    padding: 16px;
    margin: 20px;
    
    /* 初期状態（透明で少し下にズレる） 
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;*/
}

/* 画面に入ったら適用するクラス */
.productback.show {
    opacity: 1;
    transform: translateY(0);
}

.productitem1 {
    display:flex;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-family: 'Zen';
    width: 100%;
}

.productitem2 {
    display:flex;
    flex-direction: row-reverse;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-family: 'Zen';
    width: 100%;
}

.product-item3 {
    display:flex;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    font-family: 'Zen';
    width: 100%;
}

.productimg{
    width: 45%;
    object-fit:contain;
}


.producttext{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    justify-content: center;
    width: 50%;
}
.producticons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.productkozin{
    background-color: rgb(190, 160, 188);
    line-height:40px;
    font-family: 'Zen';
    color: #ffffff;
    font-size: 1.5rem;
    height: 40px;
    width: 130px;
    text-align: center;
    border-radius: 10%;
}
.productteam{
    background-color: rgb(160, 190, 181);
    font-family: 'Zen';
    color: #ffffff;
    font-size: 1.5rem;
    line-height:40px;
    height: 40px;
    width: 130px;
    text-align: center;
    border-radius: 10%;
}
.producttype{
    margin-left: 10px;
    font-size: 1rem;
    color: #a1bfec;
}
.productaward{
    margin-left: 10px;
    font-size: 0.8rem;
    border-bottom: dotted 3px orange;
}
.producttitle{
    font-size: 1.5rem;
    margin-top: 60px;
    border-bottom: solid 2px rgb(43, 41, 39);
    
}
.productcoment{
    margin-top: 10px;
    font-size: 1rem;
}
.productskil{
    color: rgb(155, 170, 184);
    margin-top: 10px;
    font-size: 1rem;
}


.productbutton{
    margin: 60px;
}
.productbutton a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 225px;
    padding: 10px 0px 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.productbutton a:before, .product-button a:after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
}
.productbutton a:before {
  width: 0.5rem;
  height: 0.5rem;
  left: 1.1rem;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  z-index: 2;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s;
}
.productbutton a:after {
  left: 0;
  background: #e1cabba4;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  transform: translateY(-50%);
  transition: all 0.5s;
}
.productbutton a span {
  position: relative;
  transition: all 0.3s;
  z-index: 3;
}


.productbutton a:hover:before {
  left: 2rem;
}
.productbutton a:hover:after {
  right: 0;
  width: 100%;
}

@media (max-width: 1400px) {   

    .productimg{
        width: 30%;
        object-fit:contain;
    }
    
    .producttext{
        margin: 0 5%;
        width: 60%;
    }
    
    .productkozin{
        line-height:50px;
        font-size: 1.5rem;
        height: 50px;
        width: 150px;
    }
    .productteam{
        line-height:50px;
        font-size: 1.5rem;
        height: 50px;
        width: 150px;
    }
    .producttype{
        margin-left: 5%;
        font-size: 1.2rem;
    }
    .productaward{
        margin-left: 5%;
        font-size: 1rem;
    }
    .producttitle{
        font-size: 2.5rem;
        margin-top: 60px;        
    }

    .productcoment{
        margin-top: 20px;
        font-size: 2rem;
    }
    .productskil{
        margin-top: 10px;
        font-size: 1.5rem;
    }


}

@media (max-width: 1000px) {
    .productimg{
        width: 40%;
        object-fit:contain;
    }
    
    .producttext{
        margin: 0 1%;
        width: 65%;
    }
    
    .productkozin{
        line-height:50px;/*縦中央揃えにするならheightと同じ値にする*/
        font-size: 1rem;
        height: 50px;
        width: 80px;
    }
    .productteam{
        line-height:50px;/*縦中央揃えにするならheightと同じ値にする*/
        font-size: 1rem;
        height: 50px;
        width: 100px;
    }
    .producttype{
        margin-left: 4%;
        font-size: 1rem;
    }
    .productaward{
        margin-left: 5%;
        font-size: 0.75rem;
    }
    .producttitle{
        font-size: 1.5rem;
        margin-top: 60px;        
    }

    .productcoment{
        margin-top: 20px;
        font-size: 1rem;
    }
    .productskil{
        margin-top: 10px;
        font-size: 0.75rem;
    }

}


@media (max-width: 670px) {
    .productgrid{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .productitem {
        padding: 0;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Zen';
        width: 90%;
    }
    .productitem2 {
        display:flex;
        flex-direction:column-reverse;
        align-items: center;
        justify-content: center;
        font-family: 'Zen';
        width: 100%;
    }

    .productitem3 {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        font-family: 'Zen';
        width: 100%;
    }

    .productimg{
        width: 80%;
        object-fit:contain;
    }


    .producticons{
        display: flex;
        justify-content: space-between;
    }

    .producttext{
        margin: 10% 0%;
        width: 100%;
    }
    
    .productkozin{
        line-height:20px;/*縦中央揃えにするならheightと同じ値にする*/
        font-size: 0.6rem;
        height: 20px;
        width: 80px;
    }
    .productteam{
        line-height:20px;/*縦中央揃えにするならheightと同じ値にする*/
        font-size: 0.6rem;
        height: 20px;
        width: 80px;
    }
    .producttype{
        font-size: 0.8rem;
    }
    .productaward{
        font-size: 0.5rem;
    }
    .producttitle{
        font-size: 1rem;
        margin-top: 60px;        
    }

    .productcoment{
        margin-top: 20px;
        font-size: 0.8rem;
    }
    .productskil{
        margin-top: 10px;
        font-size: 0.5rem;
    }

}
