.topmargin{
    height: 60px;
    padding: 20px;
    background-color:  #e1cabba4;
}

.Ptitle{
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:100px;
}

.Ptitleimg{
    height:500px;
    width:500px;
}

.titleText{
    font-family:serif;
}

.titleTexth1{
    font-size:2rem;
}



.slider-back{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height:600px;

}
.slider-container {
    display: flex;
    align-items: center;
    position: relative;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    overflow: hidden;
    position: relative;
    height:400px;
    margin:0,50px;
}

.slide {
    opacity: 0.5;
    transform: scale(0.7);
    transition: all 0.5s ease-in-out;
    width: 800px;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.slide.active {
    opacity: 1;
    transform: scale(1);
    width: 250px;
}

.prev, .next {
    background-color: #ddd;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background-color: #bbb;
}

.indicator-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.indicator {
    width: 20px;
    height: 20px;
    background-color: #a9a9a9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;
    transition: all 0.3s;
}

.indicator.active {
    background-color: orange;
    transform: scale(1.3);
}





.tableWrapper {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.table {
    border-collapse: collapse; /* 罫線を一本にまとめる */
    margin: 0 auto; /* テーブルを中央配置 */
}

.table th {
    color: #4682b4; /* 見出しの文字を青色に */
    text-align: left; /* 左寄せ */
    padding: 10px;
    border: none;
    font-size: 1rem;
}

.table td {
    padding: 10px;
    border: none;
    font-size: 1rem;
}

.tableRow {
    border-bottom: 1px solid #ccc; /* 各行の下に横線 */
}



  @media (max-width: 900px) {
    .Ptitle{
        margin-top:40px;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        gap:50px;
    }


    .slider {
        width: 300px;
        overflow: hidden;
        position: relative;
        height:300px;
        margin:0,50px;
    }

    .slide {
        width: 260px;
    }

  }

  @media (max-width: 500px) {


    .Ptitleimg{
        height:300px;
        width:300px;
    }

    .tableWrapper {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .table th {
        padding: 5px;
        font-size: 0.75rem;
    }
    
    .table td {
        padding: 5px;
        font-size: 0.75rem;
    }

  }