/* modal.module.css */
.modalOverlay {
    position: fixed; /* 画面全体を覆う */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明に */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 最前面に表示 */
}

.modalContent {
    background-image:url('@/app/Public/images/modalback.jpg');
    background-size:cover;
    border-radius: 10px;
    width: 400px;
    height:500px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modalcoverImage{
    background-color: rgba(250, 250, 250, 0.5); /* 背景を半透明に */
    width: 350px;
    height:350px;
    margin-botoom:25px;
    margin-left:25px;
    margin-right:25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

}

.modalcovertopImage{
    background: #e1cabba4;
    width: 350px;
    height:100px;
    margin-top:25px;
    margin-left:25px;
    margin-right:25px;
    display:flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

}

.aboutmeimg{
    height:100px;
    width:100px;
    background-color:rgb(248, 242, 242);
    border-radius:300px;
    margin-top: -50px;
}


.modalname{
    font-family:serif;
    font-size:2rem;
    border-bottom: dotted 2px #87CEFA;
    margin-bottom:30px;
}

.modaltitle{
    font-family:serif;
    font-size:1.5rem;
}

.contacticons{
    display:flex;
    flex-wrap:wrap;
}

.icon{
    height:30px;
    margin:5px;
    font-size:30px;
    background:white;
    padding:15px;
    border-radius: 20%;
    background: #e1cabba4;
}

.modalContent button {
    padding: 10px 20px;
    border: none;
    background-color: #87CEFA;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top:30px;
}

.modalContent button:hover {
    background-color: #005bb5;
}
