.footercircle {
    height:200px;
    background: #e1cabba4;/*#e1cabba4*/
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom:2px solid rgba(114, 103, 96, 0.64);
  }


.footerbox {
    height:200px;
    background: #e1cabba4;
}

.footertext{
    width:60%;   
}
.footermainText{
    display:flex;
    flex-direction:column;
    font-family:'Zen';
    font-size:2rem;
    text-align: center;
    padding:60px;
}
.footermain{
    font-size:2rem;
}
.footermain2{
    font-size:1rem;
}
.fottericons{
    display:flex;
    flex-direction:row;
}

.icon{
    height:40px;
    margin:5px;
}

@media (max-width: 670px) {
    .footermain{
        font-size:0.8rem;
    }
    .footermain{
        font-size:0.8rem;
    }
    
    }