/* Title Styles */
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:serif;
    background-size:cover; 
    width: 100%;
    height: 600px;
    background-color: #e1cabba4;

}


.titleTexth1 {
    width: 500px;
    font-size: 5rem; 
    text-align: center;
    margin-bottom: 0;
}
.titleTexth4 {
    margin-top: 0;
    width: 500px;
    font-size: 2rem; 
    text-align: center;
}

.titleimg {
    background-color: #ffffff50;
    border-radius: 50%;
    height: 250px;
    width:  250px;
}


.svgwave{
    display: block;
}


@media (max-width: 1400px) {

    .title {
        height:300px;   
    }
    
    
    .titleTexth1 {
        width: 300px;
        font-size: 2rem; 
    }
    .titleTexth4 {
        width: 300px;
        font-size: 1rem; 
    }
    
    
    .svgwave{
        display: block;
    }
    
    
}
@media (max-width: 1000px) {
    .title {
        height:300px;   
    }
    
    
    .titleTexth1 {
        width: 300px;
        font-size: 2rem; 
    }
    .titleTexth4 {
        width: 300px;
        font-size: 1rem; 
    }
    
    
    
    .svgwavesvg{
        display: block;
    }
    

}

@media (max-width: 670px) {
    .title {
        height:200px;   
    }
    


    .titleText {
        width: 150px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .titleTexth1 {
        width: 100%;
        font-size: 1rem; 
    }
    
    .titleTexth4 {
        width: 100%;
        font-size: 0.7rem; 
    }
    
    .titleimg {
        height: 150px;
        width:  150px;
    }
    
    
    .svgwavesvg{
        display: block;
    }
    

    
}